<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandPy</title>
</head>
<body>
	<form>
		<label for="mainInput">Posez votre question</label>
		<input type="text" id="mainInput">
		<button type="submit">Demander</button>
	</form>
	<div id="responseBlock" style="width:400px;background-color:grey; min-height:100px"></div>
<script src="../static/js/script.js" type="module"></script>
</body>

</html>
